/* Write your CSS here */
.listItem-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  height: 30px;
  width: 100px;
  border-width: 2px;
  border-color: red;
  border-radius: 5px;
}
